<%= form_for customer_order do |f| %>
<table class="table_form">
	<tr>
		<td>Customer Name: </td>
		<td><%= f.text_field :customer_name %></td>
	</tr>

	<tr>
		<td>Contact Number: </td>
		<td><%= f.text_field :contact_number %></td>
	</tr>

	<tr>
		<td>Email: </td>
		<td><%= f.text_field :email %></td>
	</tr>

	<tr>
		<td>Address: </td>
		<td><%= f.text_field :address %></td>
	</tr>

	<tr>
		<td>Order Date: </td>
		<td><%= f.date_field :order_date, :value => Time.now.strftime("%Y-%m-%d"), :readonly => true %></td>
	</tr>
</table>
<center><%= f.submit "Enter", :class => "button-style"%></center>
<% end %>