<center>
<h2>All Orders
<br><span>SEE ALL THE ORDERS ON THE GO</span></h2>

<p>Here you can see all the orders that were received!</p>

	<table id="admin_table">
		<tr>
			<th>Order ID</th>
			<th>Customer Name</th>
			<th>Contact Number</th>
			<th>Email</th>
			<th>Address</th>
			<th>Order Date</th>
			<th>See Orders</th>
			<th>EDIT</th>
			<th>DELETE</th>
		</tr>
<% @customer_orders.each do |customer_order| %>
		<tr>
			<td><%= customer_order.id %></td>
			<td><%= customer_order.customer_name %></td>
			<td><%= customer_order.contact_number %></td>
			<td><%= customer_order.email %></td>
			<td><%= customer_order.address %></td>
			<td><%= customer_order.order_date %></td>
			<td><%= link_to "SEE ALL ORDERS", admin_all_sub_orders_path(:c_id => customer_order.id), :class => "button-style-4" %></td>
			<td><%= link_to "EDIT", edit_customer_order_path(customer_order.id), :class => "button-style" %></td>
			<td><%= link_to "DELETE", customer_order, :method => :delete, :class => "button-style-2" %></td>
		</tr>
<% end %>
</table>

<%= link_to "Back to Admin Home Page", "/admin", :class => "button-style"%>
</center>